<h1>Welcome to the FSA website.</h1>
<p>Please select an authority in order to see a breakdown of establishment ratings.
</p>

<select id='localAuth'> 
	<option> -- select an option -- </option>
	<% @authorities.each do |auth| %>
	<option value=<%= auth.id %>><%="#{auth.name}"%></option>
	<% end %>
</select>
<button id='sb' onclick='submitAuth()'>Submit</button>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script language="javascript" type="text/javascript">

	function submitAuth() {
		var auth = document.getElementById('localAuth');
	  	var auth_id = auth.options[auth.selectedIndex].value
	    
	    return $.ajax({
	      url: '/get_results',
	      type: 'GET',
	      data: {
	        id: auth_id
	      },
	      success: function(data) {
        	console.log(data)
        	document.write(data)
	      },
	      error: function(event, data, status, xhr) {
	        console.log('Failed to retrieve results')
	        $("#html").load(data);
	      }
        });

	  	console.log( "Handler for .click() called." );
	  }
</script>
